@use '../abstracts/mixins';

.btn {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-font);

  padding: 26px 65px ;
  border-radius: 15px;
  border: 2px solid transparent;
  cursor: pointer;
  position: relative;

  background-color: rgba(123, 97, 133, 0.5);
  background-image: linear-gradient(180deg,
      #AB37FF 2%,
      #B958FF 18%,
      #FFFFFF 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 2px;
    border-radius: 13px;
    pointer-events: none;

    background: black
  }
}


.btn--sm {
  font-size: 16px;
  padding: 18px 34px;
  background: none;
  width: fit-content;
  border: white 1px solid;

  @include mixins.respond(tablet) {
    width: auto;
  }
    &::before {

    background: none;
  }
}