.design {
  .title span {
    font-size: 0.95em;
    display: block;
  }

  &__content {
    display: grid;
    grid-template-columns: 1;
    gap: 3rem;
    margin-top: 2rem;
    align-items: center;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 4rem;
      margin-top: -3rem;
      margin-bottom: -10rem;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media (min-width: 1024px) {
      grid-column: span 6 / span 6;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    display: flex;
    gap: 1rem;
    transition: transform 0.3s ease;

    &-index {
      color: var(--color-font);
      font-family: var(--font-primary);
      font-size: 0.85rem;
      margin-top: 3px;

    }

    &-text {
      font-size: 0.85rem;
      line-height: 1.6;
    }


  }

  &__right {
    display: flex;
    justify-content: center;
    position: relative;

    @media (min-width: 1024px) {
      grid-column: span 6 / span 6;
    }
  }

  &__visual {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    background: transparent;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    #canvas-container {
      position: absolute;
      inset: 0;
      z-index: 5;
      overflow: hidden;
    }
  }
}