@use '../abstracts/mixins';

.faq {

  &__layout {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 60px;
    align-items: stretch;

    @include mixins.respond(tablet) {
      grid-template-columns: 1fr;
    }
  }

  .title {
    margin-bottom: 60px;
  }

  .text-subtitle {
    font-size: 28px;
    text-wrap: balance;

    @include mixins.respond(mobile) {
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
  }

  &__item {
    border-radius: 20px;
    padding: 22px 26px;
    background: linear-gradient(180deg, #0F0A14, #09060D);
    cursor: pointer;
  }

  &__question {
    list-style: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    font-size: 18px;
    color: var(--color-font);

    &::-webkit-details-marker {
      display: none;
    }


  }

  &__answer {
    overflow: hidden;
    opacity: 0;
    margin-top: 0;

    font-size: 15px;
    color: var(--color-font-p);
  }

  &__item[open] &__answer {
    margin-top: 10px;
  }

  &__right {
    height: 577px;

    @media (max-width: 1460px) {
      height: 615px;
    }
  }

  &__visual {
    height: 100%;
    border-radius: 30px;
    padding: 30px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-image: url('../../assets/images/faq/faq.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;
  }

  &__visual-content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    img:last-child {
      width: 140px;
    }
  }
}