@use '../abstracts/mixins';

.faq {

    &__layout {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        gap: 60px;
        align-items: stretch;

        @include mixins.respond(tablet) {
            grid-template-columns: 1fr;
        }
    }

    .title {
        margin-bottom: 60px;
    }

    .text-subtitle {
        font-size: 28px;
        text-wrap: balance;

        @include mixins.respond(mobile) {
            font-size: 18px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 40px;
    }

    &__item {
        border-radius: 20px;
        padding: 22px 26px;
        background: linear-gradient(180deg, #0F0A14, #09060D);
        transition: 0.3s;


    }

    &__question {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: none;
        border: none;
        cursor: pointer;

        font-weight: 600;
        font-size: 18px;
        color: var(--color-font);

        &::after {
            content: '+';
            font-size: 20px;
            transition: 0.3s;
        }
    }

    &__item.is-open &__question::after {
        content: '−';
    }

    &__answer {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease;

        font-size: 15px;
        color: var(--color-font-p);
    }

    &__item.is-open &__answer {
        margin-top: 10px;
        max-height: 200px;
        opacity: 1;
    }

    &__right {
        height: 587px;

        @media (max-width: 1460px) {
            height: 625px;

        }
    }

    &__visual {
        height: 100%;
        border-radius: 30px;
        padding: 30px;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        background-image: url('../../assets/images/faq.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        position: relative;
        overflow: hidden;
    }

    &__visual-content {
        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        img:last-child {
            width: 140px;
        }
    }
}