@use '../abstracts/mixins';

.showcase {


    &__media {
        height: 50%;
        border-radius: 30px 30px 0 0;
        background: url('../../assets/images/showcaseLeft.png') center / cover;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 1.5px;

            background: linear-gradient(180deg,
                    #A837FF 0%,
                    #08030B 100%);

            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;

            pointer-events: none;
        }
        
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 52px;
        gap: 18px;
    }

    &__logo {
        width: 300px;
        margin: 0 248px;
    }

    /* ================= GRID ================= */
    &__columns {
        display: grid;
        grid-template-columns: 1fr 1fr 0.8fr;
        gap: 52px;
    }

    &__column {
        display: flex;
        flex-direction: column;





        &--stack {
            gap: 52px;
        }

        &--third {
            justify-content: flex-end;
            background-image: url(../../assets/images/showcaseRight.png);
            background-size: cover;
            border-radius: 30px;
            padding: 34px 47px;


        }
    }

    &__card {
        background: var(--color-bg-light);
        border-radius: 20px;
        padding: 42px 63px;

        &--large {
            height: 50%;
            padding: 62px 63px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        &--content {
            display: flex;
            flex-direction: column;
            gap: 32px;
            position: relative;

            ::before {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: 30px;
                padding: 1.5px;

                background: linear-gradient(180deg,
                        #A837FF 0%,
                        #08030B 100%);

                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;

                pointer-events: none;
            }
        }

        &--button {
            position: relative;
            padding: 42px 63px;
            font-weight: 600;
            font-size: 32px;
            color: var(--color-font);
            cursor: pointer;
            border-radius: 30px;
            background: var(--color-bg-light);
            z-index: 0;

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: inherit;
                padding: 1.5px;

                background: linear-gradient(180deg,
                        #A837FF 0%,
                        #08030B 100%);

                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;

                pointer-events: none;
                z-index: -1;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 141%;
        color: var(--color-font);
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 188%;
        color: var(--color-font);
    }

    &__label {
        font-weight: 600;
        font-size: 32px;
        line-height: 134%;
        color: var(--color-font);
    }
}