@use '../abstracts/mixins';

body {
  background: var(--color-bg);
  font-family: var(--font-secondary);
  color: var(--color-font-p);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

a {
  color: var(--color-link);
}

a,
u {
  text-decoration: none;
}

/* ================================
   TITLES
================================ */

.title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 64px;
  color: var(--color-font);
  text-align: center;

  @include mixins.respond(tablet) {
    font-size: 44px;
  }

  @include mixins.respond(mobile) {
    font-size: 22px;
    line-height: 1.64;
  }
}

/* ================================
   SUBTITLES / PARAGRAPHS
================================ */

.text-subtitle {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 22px;
  line-height: 1.36;
  color: var(--color-font-p);
  text-align: center;

  @include mixins.respond(tablet) {
    font-size: 18px;
  }

  @include mixins.respond(mobile) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
  }
}