@font-face {
  font-family: "Azonix";
  src: 
    url("../../assets/fonts/azonix/Azonix.woff2") format("woff2"),
    url("../../assets/fonts/azonix/Azonix.woff") format("woff");
  font-style: normal;
  font-display: swap;
}