@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 440px) { @content; }
  }
  @if $breakpoint == tablet {
    @media (max-width: 991px) { @content; }
  }
  @if $breakpoint == laptop {
    @media (max-width: 1280px) { @content; }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin gradient-border($radius: 30px, $padding: 1.5px) {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: $radius;
    padding: $padding;
    background: linear-gradient(180deg, #a837ff 0%, #08030b 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}