:root {
  /* colors */
  --color-bg: #000000;
  --color-bg-grey: rgba(255, 255, 255, 0.04);
  --color-bg-light: #0f0f0f;
  --color-font: #ffffff;
  --color-font-p: rgba(255, 255, 255, 0.63);
  --color-link: #AB37FF;

  /* typography */
  --font-primary: 'Azonix', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  /* layout */
  --container-max-width: 1600px;
}